#toggle-leetpaint-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    font-weight: bold;
    background-color: #3C3C3C;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1001;
    transition: background-color 0.3s;
}


#toggle-leetpaint-btn:hover {
    background-color: #FF8C00;
}


#paint-controls {
    margin-bottom: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2c2c2c;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    width: 60%;
    margin: 0 auto;
}

#paint-controls label {
    margin-right: 5px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

#color-picker, #brush-size {
    border: 1px solid #555;
    border-radius: 4px;
    padding: 5px;
    background-color: #444;
    color: #fff;
    margin-left: 10px;
    margin-right: 30px;
}

#color-picker {
    width: 40px;
}

#paint-controls button {
    background-color: #5a5a5a;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 14px;
}

#paint-controls button:hover {
    background-color: #777;
    transform: translateY(-2px);
}

#paint-controls button:active {
    transform: translateY(0);
}

#scrollable-canvas-container {
    width: 1810px;
    max-width: 2000px;
    max-height: 820px;
    overflow-y: auto;
    border: 2px solid #FFA116;
    margin: 5px auto;
    background-color: #1e1e1e;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#leetpaint-canvas {
    cursor: crosshair;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

